
*.dll
*.cache
.vs/Bankapplication/DesignTimeBuild/.dtbcache
.vs/Bankapplication/v16/.suo
.vs/Bankapplication/v16/Server/sqlite3/db.lock
.vs/Bankapplication/v16/Server/sqlite3/storage.ide
.vs/Bankapplication/v16/Server/sqlite3/storage.ide-shm
.vs/Bankapplication/v16/Server/sqlite3/storage.ide-wal
.vs/Bankapplication/v16/TestStore/0/000-0000.testlog
.vs/Bankapplication/v16/TestStore/0/testlog.manifest
Bankapplication/bin/Debug/netcoreapp2.1/Bankapplication.deps.json
Bankapplication/bin/Debug/netcoreapp2.1/Bankapplication.dll.config
Bankapplication/bin/Debug/netcoreapp2.1/Bankapplication.pdb
Bankapplication/bin/Debug/netcoreapp2.1/Bankapplication.runtimeconfig.dev.json
Bankapplication/bin/Debug/netcoreapp2.1/Bankapplication.runtimeconfig.json
Bankapplication/obj/Bankapplication.csproj.nuget.dgspec.json
Bankapplication/obj/Bankapplication.csproj.nuget.g.props
Bankapplication/obj/Bankapplication.csproj.nuget.g.targets
Bankapplication/obj/Debug/netcoreapp2.1/Bankapplication.AssemblyInfo.cs
Bankapplication/obj/Debug/netcoreapp2.1/Bankapplication.csproj.FileListAbsolute.txt
Bankapplication/obj/Debug/netcoreapp2.1/Bankapplication.pdb
Bankapplication/obj/project.assets.json
Test/bin/Debug/netcoreapp2.1/Bankapplication.dll.config
Test/bin/Debug/netcoreapp2.1/Bankapplication.pdb
Test/bin/Debug/netcoreapp2.1/Test.deps.json
Test/bin/Debug/netcoreapp2.1/Test.pdb
Test/bin/Debug/netcoreapp2.1/Test.runtimeconfig.dev.json
Test/bin/Debug/netcoreapp2.1/Test.runtimeconfig.json
Test/obj/Debug/netcoreapp2.1/Test.AssemblyInfo.cs
Test/obj/Debug/netcoreapp2.1/Test.csproj.CopyComplete
Test/obj/Debug/netcoreapp2.1/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/netcoreapp2.1/Test.pdb
Test/obj/project.assets.json
Test/obj/Test.csproj.nuget.dgspec.json
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.g.targets
